html{
    display: flex;
    flex-wrap: wrap;
}

body{
    background-image: url('background.png');
    background-attachment: fixed;
    margin-top: 38px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 38px;
   
}
.link1{
    text-decoration: none;
    color: black;
}

.main{
   text-align: center;
   font-weight: bolder;
   font-size: 24px;
   text-shadow:  0 0 3px #00ff807c, 0 0 5px #e5df86;
   
}
.caption{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: blanchedalmond;
}
.main p{
    font-size: 24px;
}
.image{
    text-align: center;
}
.timeline{
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
    text-shadow:  0 0 3px #FF0000, 0 0 5px #0000FF;
}
.year{
font-family:system-ui; 
text-shadow:  0 0 3px #ecd712, 0 0 5px #04884a;
}
.about, ul{
    color: rgb(150, 194, 233);
}
.slogan{
    color: antiquewhite;
    font-family: cursive;
}
.link2{
    font-family: cursive;
    color: #f80b0b;
}
.about{
font-size: 17px;

}
footer{
    text-align: right;
    color: burlywood;
}


